@import "tailwindcss";
@import "tw-animate-css";


body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f7fafc; /* Gri arka plan */
}

/* Body'nin tam ortalanması */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#root {
  width: 100%;
  height: 100%;
}

/* Button Hover Efekti */
button {
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #3182ce; /* Buton hover rengi */
  transform: scale(1.05); /* Hover animasyonu */
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-align: center;
}
